<template>
  <div id="app">
       <Sidenav></Sidenav>
       <Topnav></Topnav>
       <div class="container">
        <div class="jumbotron">
        <div class="card">
        <div class="card-header form-inline">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-bookmark"></i>Add Books</button>
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                 <div class="modal-content">
                   <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Books</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                     <div class="form-inline">
                         <h1>Book Name:</h1>
                          <input type="text" class="form-control">
                    </div>
                <div class="form-inline">
                          <h1>Author:</h1>
                          <input type="tex" class="form-control">
                </div>
                 <div class="form-inline">
                          <h1>Available Copies:</h1>
                          <input type="text" class="form-control">
                </div>
                 <div class="form-inline">
                          <h1>Category:</h1>
                          <input type="text" class="form-control">
                </div>
                  </div>
                  <div class="modal-footer"> 
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
               <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
            
              </div>
              <div class="card-body">
                <h5 class="card-title">Books Management</h5>
                               <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Book Name</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Available Copies</th>
                                  <th scope="col">category</th>
                                  <th scope="col">Action</th>
                                 
                                </tr>
                              </thead>
                              <tbody>
                                    <tr>
                                          <th scope="row">1. Computer Programming</th>
                                          <td>Las Johansen B. Caluza</td>
                                          <td>20</td>
                                          <td>Information Technology</td>
                                          <td>
                                           <li><button  class="btn btn-primary badge-pill btn-sm"style="width: 80px;">EDIT</button></li>
                                           <li><button class="btn btn-danger badge-pill btn-sm"style="width: 80px;" data-toggle="modal" data-target="#myModal">DELETE</button>
                                            <div class="modal" id="myModal">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                      
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                          <h4 class="modal-title">Delete</h4>
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                         Are you sure you want to delete?
                                                        </div>
                                                        
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Yes</button>
                                                           <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                  </div>
                                           </li>
                                           <li><button class="btn btn-warning badge-pill btn-sm"style="width: 80px;">BORROW</button></li>
                                           <li><button class="btn btn-success badge-pill btn-sm"style="width: 80px;">RETURN</button></li>
                                          </td>
                                    </tr>
                                    <tr>
                                          <th scope="row">2. Data Structure & Algorithm</th>
                                          <td>Devine Grace D. Funcion</td>
                                          <td>56</td>
                                          <td>Information Technology</td>
                                          <td>
                                           <li><button  class="btn btn-primary badge-pill btn-sm"style="width: 80px;">EDIT</button></li>
                                           <li><button class="btn btn-danger badge-pill btn-sm"style="width: 80px;"data-toggle="modal" data-target="#myModal">DELETE</button>
                                            <div class="modal" id="myModal">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                      
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                          <h4 class="modal-title">Delete</h4>
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                         Are you sure you want to delete?
                                                        </div>
                                                        
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Yes</button>
                                                           <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                  </div>
                                           </li>
                                           <li><button class="btn btn-warning badge-pill btn-sm"style="width: 80px;">BORROW</button></li>
                                           <li><button class="btn btn-success badge-pill btn-sm"style="width: 80px;">RETURN</button></li>
                                          </td>
                                    </tr>   
                              </tbody>
                            </table> 
                    </div>
                </div>
                </div>
                </div>
       </div>

  </div>
</template>

<script>
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
    components: { Sidenav, Topnav },
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>