<template>
  <div id="app">
      <div class="wrapper">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
      </div>
    

       <div class="main-content">
            <div class="container pt-10">
                <div class="row mt-5">
                    <div class="col-10 col-sm-10 col-lg-6 pb-3">
                        <h3>Borrowed Books</h3>
                        <canvas id="barchart" style= "width: 350px; height: 300px;"></canvas>
            
                    </div>
                  
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
  components: { Sidenav, Topnav },
     mounted: function(){
        
  var ctx1 = document.getElementById('barchart').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['JAN', 'FEB', 'MARCH', 'APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER',],
        datasets: [{
            label: ['Borrowed Books'],
            data: [10, 6, 12, 7, 4,  7, 9, 20, 5],
            borderColor:"black",
            backgroundColor: [
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e',
                '#e70e0e'
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    
  }
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>