<template>
    <nav id="sidebar">
        <div class="sidebar-header form-inline">
            <img class="logo" src="../../assets/img/library.png" style="width: 50px; height: 60px;">
            <h4>Library System</h4>  
        <v-btn class="logout" style="margin-left: 80%; font-size: 20px;">Logout</v-btn>
       </div>
    </nav>
</template>

<script>
export default {
    name: 'Topnav'
}
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>