@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    list-style: none;
	text-decoration: none;

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
  
    background: #7386D5;
    color: #202020;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 1%;
    background: #FFA500;

}
#sidebar .sidebar-header button{
    color: #202020;
    font-size: 25px;
   margin-left: 90%;

}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 25px;
    display: block;
}
#sidebar ul li a i{
	height: 40px;
	width: 80px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #202020;
    background: #6d7fcc;

}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar .sidebar{
	 position: fixed;
	width: 340px;
	height: 100%;
	background:  #676561;
}
.chart{
	margin: 100px auto;
	 width: 800px; 
	 height: 500px; 
	 margin-right: 100px;
}
.container{
	
	padding-top: 0px;
    margin-left: 20.9%;
}

button{
    margin-left: 100px;
}
h1{
    font-size: 36px;
}
form input{
    margin-left:120%;
}
.logout{
    font-size: 30px;
    margin-left: 1000px;
}





