*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    min-width: 100%;
}
body{
    background: #ffffff;
}
#sidebar .sidebar-header {
    padding: 1%;
    background: #FFA500;

}



.sidebar{
    z-index: 2;
    margin-top: 89px;
    position: fixed;
    width: 200px;
    height: 800px;
    background:rgb(114, 111, 111);
    padding: 30px 0;
    border-right: 1px solid rgb(0, 0, 0);
}
#sidebar {
  
    background: #7386D5;
    color: #202020;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 1%;
    background: #FFA500;

}
#sidebar .sidebar-header li button{
    color: #202020;
    font-size: 25px;
   margin-left: 90%;

}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 25px;
    display: block;
}
#sidebar ul li a i{
	height: 40px;
	width: 80px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #202020;
    background: #6d7fcc;

}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar .sidebar{
	 position: fixed;
	width: 340px;
	height: 100%;
	background:  #676561;
}
.chart{
	margin: 100px auto;
	 width: 800px; 
	 height: 500px; 
	 margin-right: 100px;
}
.container{
	
	padding-top: 0px;
    margin-left: 20.9%;
}

button{
    margin-left: 100px;
}
h1{
    font-size: 36px;
}
form input{
    margin-left:120%;
}


.sidebar h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.178);
    border-top: 1px solid rgba(255, 255, 255, 0.164);
}
.sidebar ul li a {
    color: #0a0a0a;
    display: block;
}
.sidebar ul li a .fas {
    color: rgb(255, 255, 255);
    width: 25px;  
}
.sidebar ul li:hover {
    background: #0b83a1;
}
.sidebar ul li:hover a {
    color: #fff;
}
.topbar {
    margin-top: -100px;
    position: fixed;
    width: 100%;
    height:50px;
    background: transparent;
    box-shadow: 0px 3px 4px rgba(7, 0, 0, 0.342);
}
.sidebar .logout {
    position: fixed;
    height: 30px;
    font-size: 50%;   
    padding: 5px;
    background: transparent;
    text-transform: uppercase;
    border-radius: 10px;
}
.topbar .logout:hover{
    background: #9888e9;
}
.topbar .logout .fas {
    color: rgb(255, 255, 255);
    width: 15px; 
}
.topbar .container {
    position: absolute;
    top: 10px;
    left: 1250px;
}
.main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
}
table{
    position: fixed;
    width: 1000px;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: auto;
    text-align: center;
    background: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
th {
    background-color: #0719B9;
    color: white;
}
table .edit ,.delete {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.save {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.add{
    padding: 2px;
    text-align: center;
    color: white;
    background: black;
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 29px;
    height: 30px;
    width: 100px;
}
.search{
    padding: 2px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 535px;
    height: 30px;
    width: 494px;
}